[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=scientific-calculator
Icon=/usr/share/icons/hicolor/90x90/apps/scientific-calculator.png
Exec=scientific-calculator

